{% load staticfiles %}

<!DOCTYPE html>

<html class="no-js" lang="es-CL">



<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Llegue a Chile</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/argon.css' %}">
    <link rel="stylesheet" href="{% static 'css/argon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% load static %}
    <link href="{% static '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        -->
    <!-- crossorigin="anonymous"> -->



    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

</head>
{% load staticfiles %}

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">
        <div id="nav">
            <!-- Top Nav -->
            <div id="nav-top">
                <div class="container">

                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="index.html" class="logo">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->

                </div>
            </div>
            <!-- /Top Nav -->

            <!-- Main Nav -->
            <div id="nav-bottom">
                <div class="container">
                    <!-- nav -->
                    <ul class="nav-menu">
                        <li class="has-dropdown">
                            <a href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#about">Presentación</a>

                        </li>
                        <li class="has-dropdown megamenu">
                            <a href="#">Chile</a>
                            <div class="dropdown">
                                <div class="dropdown-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Categorias</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Trabajo</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Vivienda</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'educacion' %}">Educación</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Salud</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Transporte</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Trabajo</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Trabajador/a</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Emprender</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Empleado/a Domestica</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Embarazo</a>
                                                </li>
                                            </ul>
                                            <h4 class="dropdown-heading">Vivienda</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Subsidio habitacional</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Alquileres</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Educación</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'educacion' %}">Básica y media</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'educacion' %}">Universitaria</a>
                                                </li>
                                            </ul>
                                            <h4 class="dropdown-heading">Salud</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'salud' %}">Derechos</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Pública</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Privada</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Transporte</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'transporte' %}">Transantiago</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Metro</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Ciclovias</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="{% url 'conocer' %}">Conocer</a>
                        </li>
                        <li>
                            <a href="{% url 'documentacion' %}">Documentación</a>
                        </li>
                        <li class="nav-item">
                            <a class="has-dropdown" href="#" data-toggle="modal" data-target="#exampleModal">Login</a>
                        </li>
                    </ul>
                    <!-- /nav -->
                </div>
            </div>
            <!-- /Main Nav -->
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close">
                <span>Close</span>
            </a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current">
                        <a class="smoothscroll" href="#home" title="home">Inicio</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#about">Presentación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'trabajo' %}">Trabajo</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'vivienda' %}">Vivienda</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'educacion' %}">Educación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'salud' %}">Salud</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'transporte' %}">Transporte</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'conocer' %}">Conocer</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'documentacion' %}">Documentación</a>
                    </li>

                </ul>

            </div>
            <!-- end header-nav__content -->

        </nav>
        <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text"></span>
            <span class="header-menu-icon"></span>
        </a>

    </header>
    <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/educacion.jpg' %}"
        data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">


            <div class="row home-content__main">

                <h3>Bienvenido a Llegué a Chile!</h3>

                <h1>
                    Guía para migrantes
                    <br> Informáte sobre los beneficios en educación.

                </h1>


            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Ir abajo</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div>
        <!-- end home-content -->


        <ul class="home-social">
            <li>
                <div class="dropdown">
                    <li href="#0">
                        <i class="icon-settings" aria-hidden="true">
                            <img src="{% static 'images/idiomas.png' %}" alt="">
                        </i>
                        <span>Language</span>
                    </li>

                </div>
            </li>

        </ul>
        <!-- end home-social -->

    </section>
    <!-- end s-home -->

    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead subhead--dark"></h3>
                    <h1 class="display-1 display-1--light">EDUCACIÓN</h1>
                </div>

            </div>

            <div style='text-align:center;'>
                <img src="{% static 'images/escuela.jpg' %}" />
            </div>

            <div class="text-center">
                <div class="card-text">
                    <p class="lead">
                        La educación es un derecho de toda persona, independiente de su estatus migratorio, raza, religión, sexo u otro. Infórmate
                        sobre cómo ejercer tu derecho a la educación con todas sus garantías.

                    </p>
                </div>
            </div>

            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead subhead--dark">¿CÓMO ESTÁ ORGANIZADA LA EDUCACIÓN EN CHILE?</h3>

                </div>

            </div>
            <p class="lead">
                En Chile existen cuatro niveles educativos:

            </p>

            <p class="lead">
                »» Educación Parvularia: tiene una duración de dos años y abarca las edades entre 4 a 6 años (pre-kínder y kínder).
            </p>
            <p class="lead">
                »» Educación básica: con duración de ocho años, que va desde 1º a 8º Básico. Este nivel corresponde a las edades entre 6
                a 14 años.
            </p>
            <p class="lead">
                »» Educación Media: dura cuatro años y comprende desde los 14 a 18 años. Va desde 1º a 4º medio.
            </p>
            <p class="lead">
                »» Educación Superior: estudios que se pueden realizar en cualquier institución de educación superior, lo que comprende:
                institutos profesionales, centros de formación técnica y/o universidades.
            </p>
            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead subhead--dark">¿QUÉ TIPOS DE COLEGIOS EXISTEN EN CHILE?</h3>

                </div>
            </div>
            <p class="lead">
                En Chile existen tres tipos de colegios: municipales, particulares subvencionados y privados.
            </p>
            <p class="lead">
                »» Colegios Municipales: son gratuitos y dependen netamente del financiamiento del Estado.
            </p>
            <p class="lead">
                »» Colegios Privados: son aquellos sin financiamiento público y, por tanto, los padres o apoderados financian la totalidad
                del arancel.
            </p>
            <p class="lead">
                »» Particulares subvencionados: son aquellos de propiedad y administración privada como los anteriores, pero que reciben
                subvención estatal (financiamiento público) por asistencia de sus alumnos.
            </p>
        </div>
        <div class="col-md-4">
            <div style='text-align:center;'>
                <img src="{% static 'images/informacion.png' %}" />
            </div>

        </div>
        <div class="col-md-4">
            <p class="lead">
                En caso de necesitar más información: Acércate a la Oficina de Informaciones, Reclamos y Sugerencias (OIRS) de cada municipalidad
                para que te entreguen un listado de los colegios en la comuna donde podrás ver cada una de sus características
                (Municipales, privados, particulares subvencionados).
            </p>
        </div>
        <div class="col-md-12">
            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead subhead--dark">¿TIENEN MIS HIJOS/AS DERECHO A LA EDUCACIÓN?</h3>

                </div>
            </div>
            <p class="lead">
                Sí. Las hijas e hijos de inmigrantes pueden acceder en igualdad de condiciones que las personas chilenas, desde la enseñanza
                preescolar hasta la educación media.

            </p>
            <p class="lead">
                El Oficio Circular 6.232 del Ministerio del Interior, en colaboración con el Ministerio de Educación, promueve la incorporación
                a establecimientos educacionales (de preescolar, básica y media) a todas las personas menores de edad migrantes
                que se encuentren residiendo en el país. Este instrumento reconoce el derecho de acceso a la educación a
                niños y niñas migrantes con independencia de su situación migratoria o la de sus padres, otorgando un permiso
                de residencia en calidad de estudiantes a los alumnos/as que cumplan con los requisitos establecidos.
            </p>
            <p class="lead">
                Niños, niñas y adolescentes migrantes matriculados en recintos educacionales, al ser estudiantes regulares, tienen los mismos
                derechos que los nacionales respecto de la alimentación escolar, los textos escolares, pase escolar y seguro
                escolar.
            </p>
            <p class="lead">
                Durante el primer año de incorporación del o la estudiante migrante, no será una exigencia contar con el uniforme escolar,
                tomando en consideración la necesidad de las familias al establecerse en Chile.
            </p>
            <p class="lead">
                Niños, niñas y adolescentes migrantes, y sus tutores o padres, tienen derecho a participar en las organizaciones de centros
                de padres, centro de alumnos, consejo escolar u otras instancias existentes en los establecimientos educacionales.
            </p>
            <div class="col-md-12">
                <div style='text-align:center;'>
                    <img src="{% static 'images/info.jpeg' %}" />
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div style='text-align:center;'>
                <img src="{% static 'images/informacion.png' %}" />
            </div>

        </div>
        <div class="col-md-4">
            <p class="lead">
                Ministerio de Educación Av. Libertador Bernardo O’Higgins 1371, 
                Santiago Tel: 224-066-000 Oficina de Atención Ciudadana Mineduc
                Fray Camilo Henríquez 262, 
                Santiago Tel: 600-600-2626 www.ayudamineduc.cl 
                Horario atención: lunes a viernes
                de 09:00 - 14:00 hrs.
            </p>
        </div>
    </div>

    <!-- end s-clients -->
    <div class="row">

        <div class="contact-info col-md-12">

            <div class="aside-widget">
                <div class="section-title">
                    <h2 class="title">Contactenos</h2>
                </div>
                <div class="newsletter-widget">
                    <form>
                        <h3>Entérate de las novedades de nuestra página, suscribete!</h3>
                        <input class="input" name="newsletter" placeholder="Ingrese su correo">
                        <button class="primary-button">Suscribete</button>
                    </form>
                </div>
            </div>


        </div>
        <!-- end contact-info -->

    </div>
    <!-- end contact-secondary -->

    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Glint 2017</span>
                    <span>Site Template by
                        <a href="https://www.colorlib.com/">Colorlib</a>
                    </span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Subir" href="#top">
                        <img src="{% static 'images/up.png' %}" alt="">
                        <i class="icon-arrow-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
        <!-- end footer-bottom -->

    </footer>
    <!-- end footer -->


    <!-- Java Script
    ================================================== -->
    <!-- script
    ================================================== -->
    {% load static %}
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static '//code.jquery.com/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/argon.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/argon.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>