{% load staticfiles %}
<!DOCTYPE html>

<html class="no-js" lang="es-CL">



<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Llegue a Chile</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    

    <!-- script
    ================================================== -->

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static '//code.jquery.com/jquery-1.11.1.min.js' %}"></script>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <h2>Registro</h2>
        <form action="{% url 'crear' %}" method="POST" id="formulario">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="rut">Rut</label>
                        <input type="text" id="rut" name="rut" required oninput="checkRut(this)" placeholder="Ingrese RUT" maxlength="11" class="form-control">
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" required name="correo" class="form-control" placeholder="Ingrese su correo">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" required name="nombre" class="form-control" placeholder="Ingrese su nombre completo" onkeypress="return soloLetras(event)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nacimiento">Fecha de Nacimiento</label>
                        <input type="date" required name="nacimiento" class="form-control" max="2000-12-31">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="number" name="telefono" class="form-control" placeholder="Ingrese su número telefónico">
                    </div>
                </div>
               
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="contrasenia">Ingresa una contraseña</label>
                        <input type="password" name="contrasenia" class="form-control input-lg" id="password" placeholder="Crea tu contraseña" required="" />

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="reset" class="btn btn-danger  btn-block" value="Limpiar">
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn-primary btn-block">Registrar</button>
                </div>
            </div>
        </form>
        <br>
    </div>
    <br>








    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>