{% load staticfiles %}

<!DOCTYPE html>

<html class="no-js" lang="es-CL">


<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Llegue a Chile</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/argon.css' %}">
    <link rel="stylesheet" href="{% static 'css/argon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% load static %}
    <link href="{% static '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        -->
    <!-- crossorigin="anonymous"> -->

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div id="nav">
            <!-- Top Nav -->
            <div id="nav-top">
                <div class="container">

                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="index.html" class="logo">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->

                </div>
            </div>
            <!-- /Top Nav -->

            <!-- Main Nav -->
            <div id="nav-bottom">
                <div class="container">
                    <!-- nav -->
                    <ul class="nav-menu">
                        <li class="has-dropdown">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#about">Presentación</a>

                        </li>
                        <li class="has-dropdown megamenu">
                            <a href="#">Chile</a>
                            <div class="dropdown">
                                <div class="dropdown-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Categorias</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Trabajo</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Vivienda</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'educacion' %}">Educación</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Salud</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Transporte</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Trabajo</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Trabajador/a</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Emprender</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Empleado/a Domestica</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Embarazo</a>
                                                </li>
                                            </ul>
                                            <h4 class="dropdown-heading">Vivienda</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Subsidio habitacional</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Alquileres</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Educación</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'educacion' %}">Básica y media</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'educacion' %}">Universitaria</a>
                                                </li>
                                            </ul>
                                            <h4 class="dropdown-heading">Salud</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'salud' %}">Derechos</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Pública</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Privada</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Transporte</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'transporte' %}">Transantiago</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Metro</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Ciclovias</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="{% url 'conocer' %}">Conocer</a>
                        </li>
                        <li>
                            <a href="{% url 'documentacion' %}">Documentación</a>
                        </li>

                    </ul>
                    <!-- /nav -->
                </div>
            </div>
            <!-- /Main Nav -->


        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close">
                <span>Close</span>
            </a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current">
                        <a class="smoothscroll" href="#home" title="home">Inicio</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#about">Presentación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'trabajo' %}">Trabajo</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'vivienda' %}">Vivienda</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'educacion' %}">Educación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'salud' %}">Salud</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'transporte' %}">Transporte</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'conocer' %}">Conocer</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'documentacion' %}">Documentación</a>
                    </li>

                </ul>


            </div>
            <!-- end header-nav__content -->

        </nav>
        <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text"></span>
            <span class="header-menu-icon"></span>
        </a>

    </header>
    <!-- end s-header -->

    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/trabajadores.jpg' %}"
        data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h1>
                    Trabajo
                    <br> Informate sobre esto!

                </h1>

                <div class="home-content__buttons">
                    <a href="#contact" class="smoothscroll btn btn--stroke">
                        Publicar un aviso
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        Necesito ayuda!
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Ir abajo</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div>
        <!-- end home-content -->


        <ul class="home-social">
            <li>
                <div class="dropdown">
                    <li href="#0">
                        <i class="icon-settings" aria-hidden="true">
                            <img src="{% static 'images/idiomas' %}.png" alt="">
                        </i>
                        <span>Language</span>
                    </li>

                </div>
            </li>

        </ul>
        <!-- end home-social -->

    </section>
    <!-- end s-home -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div id="hot-post" class="row hot-post">
                <div class="col-md-8 hot-post-left">
                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html">
                            <img src="{% static 'images/trabajadores.jpg' %}" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html">Estudio</a>
                            </div>
                            <h3 class="post-title title-lg">
                                <a href="#" data-toggle="modal" data-target="#miventana1">La mitad de las pymes chilenas dice tener trabajadores extranjeros</a>
                            </h3>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <div class="col-md-4 hot-post-right">
                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html">
                            <img src="{% static 'images/temporal.jpg' %}" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-category">
                            </div>
                            <h3 class="post-title">
                                <a href="#" data-toggle="modal" data-target="#miventana2">Mesa sindical propone visa temporal para extranjeros</a>
                            </h3>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html">
                            <img src="{% static 'images/haitianos.jpg' %}" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-category">
                            </div>
                            <h3 class="post-title">
                                <a href="#" data-toggle="modal" data-target="#miventana3">Al 86% de los haitianos les cuesta más encontrar trabajo que a otros extranjeros en Chile
                                    según estudio
                                </a>
                            </h3>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">
            <div class="col-full">
                <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="Autoempleo-tab" data-toggle="pill" href="#Autoempleo" role="tab" aria-controls="Autoempleo"
                            aria-selected="true">Autoempleo y emprendimieto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Derechos-tab" data-toggle="pill" href="#Derechos" role="tab" aria-controls="Derechos" aria-selected="false">Derechos Laborales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Casa-tab" data-toggle="pill" href="#Casa" role="tab" aria-controls="Casa" aria-selected="false">Trabajadores de casa particular</a>
                    </li>

                </ul>
            </div>
        </div>
        <br>
        <hr noshade style="margin-top:-20px;">
        <div class="container">
            <div class="tab-content" id="pills-tabContent">

                <!-- autoempleo -->
                <div class="tab-pane fade show active" id="Autoempleo" role="tabpanel" aria-labelledby="Autoempleo-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                                <div class="col-full">
                                    <h3 class="subhead subhead--dark">TRABAJADOR/A INDEPENDIENTE</h3>
                                </div>
                            </div>
                            <div>
                                <div style='text-align:center;'>
                                    <img src="{% static 'images/independiente.jpg' %}" />
                                </div>

                            </div>
                            <p class="lead">
                                Una vez radicado en Chile, es posible que consideres trabajar como independiente, es decir, trabajar por cuenta propia, por
                                ejemplo, realizando labores de manera autónoma (autoempleo) o montando una pequeña empresa,
                                vale decir, convertirte en un/a microempresario/a.

                            </p>
                            <p class="lead">
                                Tal y como vimos en el capítulo anterior, trabajar como independiente o por cuenta propia significa que no estás sujeto/a
                                exclusivamente a un/a empleador/a. Por ejemplo, un gasfíter que trabaja a domicilio o un/a
                                dueño/a de almacén.

                            </p>
                            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                                <div class="col-full">
                                    <h3 class="subhead subhead--dark">COMO TRABAJADOR/A INDEPENDIENTE, ¿TENGO DERECHO AL PRE Y POSTNATAL?
                                    </h3>
                                </div>
                            </div>
                            <p class="lead">
                                Como fue señalado en la sección “Trabajo”, si trabajas de forma independiente (o en modalidad honorarios o cuenta propia)
                                para ejercer el derecho a reposo o descanso de pre y post natal, requieres:
                            </p>
                            <p class="lead">
                                »» Registrar 12 o más meses de afiliación a una AFP, con anterioridad al embarazo, como trabajadora independiente.
                            </p>
                            <p class="lead">
                                »» Contar con seis o más cotizaciones previsionales, continuas o discontinuas, dentro de los doce meses anteriores al prenatal.

                            </p>
                            <p class="lead">
                                »» Realizar cotizaciones de salud en FONASA o ISAPRE.

                            </p>
                            <p class="lead">
                                »» Tener una licencia médica certificada por un/a médico/a autorizado/a en el período de Pre y Post Natal.

                            </p>
                            <p class="lead">
                                Prenatal: es el descanso de seis semanas antes de la fecha estimada del parto. Además, es el subsidio que remplaza la remuneración
                                imponible de la trabajadora a partir de 42 días antes de la fecha del parto.
                            </p>
                            <p class="lead">
                                Postnatal: con la nueva ley de posnatal (Ley N° 20.545), el actual período de 12 semanas se extiende en 12 semanas adicionales
                                (mediante el Permiso Posnatal Parental) hasta alcanzar las 24 semanas completas. El posnatal
                                se entrega a las madres trabajadoras con un subsidio equivalente a una remuneración mensual
                                con un tope de 66 UF brutos.
                            </p>
                            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                                <div class="col-full">
                                    <h3 class="subhead subhead--dark">• ¿Quién pagará mis cotizaciones mientras utilizo el derecho al posnatal?
                                    </h3>
                                </div>
                            </div>
                            <p class="lead">
                                Las cotizaciones durante el permiso maternal, sea pre o postnatal, son pagadas integrantemente por el Estado.

                            </p>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Derechos" role="tabpanel" aria-labelledby="Derechos-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                                <div class="col-full">
                                    <h3 class="subhead subhead--dark">DERECHOS LABORALES
                                    </h3>
                                </div>
                            </div>
                            <p class="lead">
                                Los/as trabajadores/as extranjeros/as y los/as nacionales cuentan con los mismos derechos en el campo laboral.

                            </p>
                            <p class="lead">
                                Conoce tus derechos y ejércelos.

                            </p>
                            <div>
                                <div style='text-align:center;'>
                                    <img src="{% static 'images/mapa.jpeg' %}" />
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="tab-pane fade" id="Casa" role="tabpanel" aria-labelledby="Casa-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <br>
                            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                                <div class="col-full">
                                    <h3 class="subhead subhead--dark">TRABAJADORAS/ES DE CASA PARTICULAR
                                    </h3>
                                </div>

                            </div>

                            <div>
                                <div style='text-align:center;'>
                                    <img src="{% static 'images/casa.jpg' %}" />
                                </div>

                            </div>
                            <p class="lead">
                                Según lo estipulado en el Articulo 146 del Código del Trabajo, es trabajador/a de casa particular aquella persona dedicada
                                de forma continua (jornada completa o parcial) a prestar servicios de aseo y asistencia en
                                un hogar, en beneficio de una o más personas. Ejemplo: asesoras del hogar, cocineras, jardineros,
                                niñeras, mozos, choferes.

                            </p>
                            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                                <div class="col-full">
                                    <h3 class="subhead subhead--dark">¿ES OBLIGATORIO TENER CONTRATO DE TRABAJO?
                                    </h3>
                                </div>

                            </div>
                            <p class="lead">
                                Sí. Como fue señalado, el contrato de trabajo es un acuerdo entre el/la trabajador/a y el/la empleador/a para la realización
                                de servicios a cambio de una remuneración. Es obligatorio formalizar (hacer por escrito)
                                el contrato de trabajo, ya sea si cumples jornada completa o parcial, porque sirve como respaldo
                                y da certezas sobre los términos de la relación laboral para el cumplimiento por ambas partes.

                            </p>
                            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                                <div class="col-full">
                                    <h3 class="subhead subhead--dark">¿QUÉ ES EL PERIODO DE PRUEBA?
                                    </h3>
                                </div>

                            </div>
                            <p class="lead">
                                Es un plazo legal de 15 días que se usa para evaluar la relación laboral, pudiendo dar paso a su término o continuación

                            </p>
                            <p class="lead">
                                »» Si continúa la relación laboral, el/la empleador/a debe formalizar (por escrito) el contrato de trabajo.
                            </p>
                            <p class="lead">
                                »» Si termina la relación laboral, el/la empleador/a debe notificar con 3 días de anticipación y paga los días trabajados.

                            </p>
                            <p class="lead">
                                Para más información visitar: www.chileatiende.gob.cl/fichas/ver/36065
                            </p>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2 class="title">Ofertas de trabajo</h2>
                            </div>
                        </div>
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post">
                                <a class="post-img" href="blog-post.html">
                                    <img src="{% static 'images/picking.jpg' %}" alt="">
                                </a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html"></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="#" data-toggle="modal" data-target="#miventana4">Operadores Picking Quilicura El cortijo
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->

                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post">
                                <a class="post-img" href="blog-post.html">
                                    <img src="{% static 'images/aseo.jpg' %}" alt="">
                                </a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html"></a>

                                    </div>
                                    <h3 class="post-title">
                                        <a href="#" data-toggle="modal" data-target="#miventana5">Auxiliar de aseo / Quilicura</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->

                        <div class="clearfix visible-md visible-lg"></div>

                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post">
                                <a class="post-img" href="blog-post.html">
                                    <img src="{% static 'images/operario.jpg' %}" alt="">
                                </a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html"></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="#" data-toggle="modal" data-target="#miventana6">Operario turno PM para tienda ubicada en AIEP de Bellavista! de lunes a sábado!</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                    </div>
                    <!-- /row -->



                    <!-- social widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Social Media</h2>
                        </div>
                        <div class="social-widget">
                            <ul>
                                <li>
                                    <a href="#" class="social-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <span>21.2K
                                            <br>Followers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-twitter">
                                        <i class="fa fa-twitter"></i>
                                        <span>10.2K
                                            <br>Followers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-google-plus">
                                        <i class="fa fa-google-plus"></i>
                                        <span>5K
                                            <br>Followers</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /social widget -->

                    <div class="row">
                        <div class="aside-widget col-md-12">
                            <div class="section-title">
                                <h2 class="title">Categorias</h2>
                            </div>
                            <div class="category-widget">
                                <ul>
                                    <li>
                                        <a href="{% url 'trabajo' %}">Trabajo

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'transporte' %}">Transporte

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'educacion' %}">Educación

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'vivienda' %}">Vivienda

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'salud' %}">Salud

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'documentacion' %}">Documentación

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'conocer' %}">Conocer Chile

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- newsletter widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Mantente Actualizado</h2>
                        </div>
                        <div class="newsletter-widget">
                            <form>
                                <p class="lead">Recibe las novedades de nuestra pagina en tu correo</p>
                                <input class="input" name="newsletter" placeholder="Enter Your Email">
                                <button class="primary-button">Suscribete</button>
                            </form>
                        </div>
                    </div>
                    <!-- /newsletter widget -->
                </div>
            </div>
        </div>
    </div>




    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Glint 2017</span>
                    <span>Site Template by
                        <a href="https://www.colorlib.com/">Colorlib</a>
                    </span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Subir" href="#top">
                        <img src="{% static 'images/up.png' %}" alt="">
                        <i class="icon-arrow-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
        <!-- end footer-bottom -->

    </footer>
    <!-- end footer -->



    <!--MODALS-->

    <!--modal miventana1-->
    <div class="container" style="margin-top: 60px;">
        <div class="modal fade" id="miventana1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>La mitad de las pymes chilenas dice tener trabajadores extranjeros</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    </div>
                    <div class="modal-body">
                        <h3>
                            Al parecer, las medidas anunciadas por el Presidente Sebastián Piñera a principios de abril para normalizar el sistema de
                            ingreso al país de los inmigrantes, ya tiene algunos efectos en las pequeñas y medianas empresas.
                            <br>
                            <br> Según la última entrega del “Índice de percepciones y expectativas económicas de las pymes”,
                            del Barómetro Pyme que realiza mensualmente la compañía de soluciones financieras para empresas
                            y pymes, AVLA, un 49,7% de los encuestados afirma que su empresa cuenta con trabajadores extranjeros
                            (ver gráfico) y en un 58% de ellas, este grupo representa más del 5% del capital humano.
                            <br>
                            <br> Esto demuestra que cada vez es más recurrente la contratación de ciudadanos de otros países
                            en este segmento económico, lo que podría aumentar durante los próximos meses o años, tomando
                            en cuenta que entre las medidas anunciadas por el Mandatario, está la Ley de Migración, que busca
                            modernizar la normativa al respecto, cuyos principales aspectos son regular y ordenar los flujos
                            migratorios, ampliar los tipos de visas, y mejorar y agilizar los procesos de expulsión.
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--modal miventana2-->
    <div class="container" style="margin-top: 60px;">
        <div class="modal fade" id="miventana2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Mesa sindical propone visa temporal para extranjeros</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    </div>
                    <div class="modal-body">
                        <h3>
                            Las tres centrales sindicales del país (CUT, CAT y UNT), entregaron al Ministerio del Trabajo y Previsión Social, diez propuestas
                            con el objetivo de mejorar las condiciones de vida de los trabajadores extranjeros en el país.
                            Entre los planteamientos de la mesa, se incluye poner fin a la visa de trabajo sujeta a contrato
                            y su reemplazo por una visa temporaria que facilite a los migrantes encontrar un nuevo empleo
                            cuando están cesantes.
                            <br>
                            <br> Asimismo, también sugirieron permitir la portabilidad de los fondos de pensiones para facilitar
                            la jubilación de los extranjeros en su país natal, si así lo desean, junto con asegurar el derecho
                            legal del envío al exterior de remesas de dinero a sus familias. En tanto, se propone ampliar
                            los escasos convenios de convalidación de estudios a todas las nacionalidades migrantes, facilitando
                            así las posibilidades laborales.
                            <br>
                            <br> Mientras, en lo sindical, se pide el derecho de los migrantes a afiliarse a sindicatos nacionales,
                            sin que tengan que formar sus propias agrupaciones.
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--modal miventana3-->
    <div class="container" style="margin-top: 60px;">
        <div class="modal fade" id="miventana3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>El idioma es el principal obstáculo, según el sondeo de la U. de Talca. Además, un 48% declaró haber
                            sido discriminado alguna vez.</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    </div>
                    <div class="modal-body">
                        <h4>
                            La dificultad para encontrar trabajo o hallar uno que permita tener condiciones mínimas de vida digna, son parte de los principales
                            argumentos esgrimidos por los ciudadanos haitianos que manifiestan su voluntad de abandonar Chile
                            y regresar a su país, tras venir en busca de oportunidades.
                            <br>
                            <br> Lo anterior es respaldado por los resultados del estudio "Haitianos en Chile: integración laboral,
                            social y cultural", elaborado por el Centro Nacional de Estudios Migratorios (Cenem) de la Universidad
                            de Talca, que reveló que al 86% de los isleños presentes en el país les cuesta más encontrar
                            trabajo que a migrantes de otras nacionalidades.
                            <br>
                            <br> El director de la mentada entidad, Medardo Aguirre, afirmó que la principal causa de lo anterior
                            es la barrera idiomática, la cual, fue señalada por el 60,1% de los encuestados.
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--modal miventana4-->
    <div class="container" style="margin-top: 60px;">
        <div class="modal fade" id="miventana4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Operadores Picking Quilicura El cortijo</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    </div>
                    <div class="modal-body">
                        <h4>
                            Lugar de Trabajo: Quilicura, Región Metropolitana
                            <br> Salario No especificado
                            <br> Tipo de puesto: Full-time
                            <br> Área: Otros
                            <br>
                            <br> Requisitos:
                            <br> -Mayores de 18 años
                            <br> -Extranjeros con permiso de trabajo vigente.
                            <br> -Experiencia como auxiliar de Bodega
                            <br> -Experiencia en radiofrecuencia ( no excluyente)
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--modal miventana5-->
    <div class="container" style="margin-top: 60px;">
        <div class="modal fade" id="miventana5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Auxiliar de aseo / Quilicura TAWA CHILE SA</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h4>
                            Lugar de Trabajo: Quilicura, Región Metropolitana
                            <br> Salario No especificado
                            <br> Tipo de puesto: Full-time
                            <br> Área: Otros
                            <br>
                            <br> Importante empresa dedicada al rubro de los chocolates, requiere contratar auxiliar de aseo
                            para trabajar en sus dependencias, ubicadas en Quilicura.
                            <br> Funcion: Mantencion de orden y aseo de la bodega y oficinas.
                            <br> Requisitos: Experiencia en el cargo.
                            <br> Jornada Laboral: lunes a viernes 7:30 a 17:30 hrs.
                            <br> Renta: $350.000
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--modal miventana6-->
    <div class="container" style="margin-top: 60px;">
        <div class="modal fade" id="miventana6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Operario turno PM para tienda ubicada en AIEP de Bellavista! de lunes a sábado!</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h4>
                            Lugar de Trabajo: Quilicura, Región Metropolitana
                            <br> Salario No especificado
                            <br> Tipo de puesto: Full-time
                            <br> Área: Otros
                            <br>
                            <br> Importante empresa dedicada al rubro de retail y mini market con sucursales a lo largo de todo
                            el país, requiere a los mejores Operarios para integrarse a nuestro equipo de trabajo, buscamos
                            personas comprometidas, con actitud de servicio para nuestra tienda ubicada en AIEP de Patio
                            Bellavista.
                            <br> Ofrecemos una Renta Líquida de $311.000
                            <br> Jornada Laboral de Lunes a viernes de 13:00 a 22:00 y sábados 14:00 a 20:00 hrs.
                            <br> Con una hora de colación.
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div>
    <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/argon.js' %}"></script>
    <script src="{% static 'js/argon.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>