{% load staticfiles %}

<!DOCTYPE html>

<html class="no-js" lang="es-CL">


<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Llegue a Chile</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/argon.css' %}">
    <link rel="stylesheet" href="{% static 'css/argon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div id="nav">
            <!-- Top Nav -->
            <div id="nav-top">
                <div class="container">

                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="index.html" class="logo">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->

                </div>
            </div>
            <!-- /Top Nav -->

            <!-- Main Nav -->
            <div id="nav-bottom">
                <div class="container">
                    <!-- nav -->
                    <ul class="nav-menu">
                        <li class="has-dropdown">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#about">Presentación</a>

                        </li>
                        <li class="has-dropdown megamenu">
                            <a href="#">Chile</a>
                            <div class="dropdown">
                                <div class="dropdown-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Categorias</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Trabajo</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Vivienda</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'educacion' %}">Educación</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Salud</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Transporte</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Trabajo</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Trabajador/a</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Emprender</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Empleado/a Domestica</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'trabajo' %}">Embarazo</a>
                                                </li>
                                            </ul>
                                            <h4 class="dropdown-heading">Vivienda</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Subsidio habitacional</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'vivienda' %}">Alquileres</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Educación</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'educacion' %}">Básica y media</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'educacion' %}">Universitaria</a>
                                                </li>
                                            </ul>
                                            <h4 class="dropdown-heading">Salud</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'salud' %}">Derechos</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Pública</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'salud' %}">Privada</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Transporte</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="{% url 'transporte' %}">Transantiago</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Metro</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transporte' %}">Ciclovias</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="{% url 'conocer' %}">Conocer</a>
                        </li>
                        <li>
                            <a href="{% url 'documentacion' %}">Documentación</a>
                        </li>

                    </ul>
                    <!-- /nav -->
                </div>
            </div>
            <!-- /Main Nav -->

        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close">
                <span>Close</span>
            </a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current">
                        <a class="smoothscroll" href="#home" title="home">Inicio</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#about">Presentación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'trabajo' %}">Trabajo</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'vivienda' %}">Vivienda</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'educacion' %}">Educación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'salud' %}">Salud</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'transporte' %}">Transporte</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'conocer' %}">Conocer</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'documentacion' %}">Documentación</a>
                    </li>

                </ul>

            </div>
            <!-- end header-nav__content -->

        </nav>
        <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text"></span>
            <span class="header-menu-icon"></span>
        </a>

    </header>
    <!-- end s-header -->

    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/transporte.jpg' %}"
        data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h1>
                    Transporte
                    <br> Informate sobre esto!

                </h1>


            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Ir abajo</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div>
        <!-- end home-content -->


        <ul class="home-social">
            <li>
                <div class="dropdown">
                    <li href="#0">
                        <i class="icon-settings" aria-hidden="true">
                            <img src="{% static 'images/idiomas.png' %}" alt="">
                        </i>
                        <span>Language</span>
                    </li>

                </div>
            </li>

        </ul>
        <!-- end home-social -->

    </section>
    <!-- end s-home -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div id="hot-post" class="row hot-post">
                <div class="col-md-8 hot-post-left">
                    <!-- post Transantiago -->
                    <div class="post post-thumb">
                        <a class="post-img" href="#">
                            <img src="{% static 'images/transporte.jpg' %}" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="#"></a>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#miventana1">
                                Transantiago. El transporte público mas usado en la Región Metropolitana. Conoce sus recorridos.
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /post Transantiago -->

                <!-- post Aislado -->
                <div class="col-md-4 hot-post-right">
                    <div class="post post-thumb">
                        <a class="post-img" href="#">
                            <img src="{% static 'images/busRural.jpg' %}" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="#"></a>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#miventana2">
                                Conoce los recorridos para las zonas aisladas de la Región Metropoliana
                            </a>

                        </div>
                    </div>
                    <!-- /post Aislado-->

                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html">
                            <img src="{% static 'images/metroSantigo.jpg' %}" alt="">
                        </a>
                        <div class="post-body">

                            <h3 class="post-title">
                                <a href="#" data-toggle="modal" data-target="#miventana3">Recorridos Metro Santiago</a>
                            </h3>
                            <ul class="post-meta">

                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2 class="title">Noticias sobre el transporte en la Región Metropolitana</h2>
                            </div>
                        </div>
                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post">
                                <a class="post-img" href="blog-post.html">
                                    <img src="{% static 'images/nuevasMicros.jpg' %}" alt="">
                                </a>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        <a href="#" data-toggle="modal" data-target="#miventana4">Así serán los 100 nuevos buses eléctricos que se sumarán a Transantiago</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->

                        <!-- post -->
                        <div class="col-md-6">
                            <div class="post">
                                <a class="post-img" href="blog-post.html">
                                    <img src="{% static 'images/linea3.jpg' %}" alt="">
                                </a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html"></a>

                                    </div>
                                    <h3 class="post-title">
                                        <a href="#" data-toggle="modal" data-target="#miventana5">Línea 3 de Metro de Santiago alcanza 96% de avance e inicia fase final para próxima
                                            puesta en marcha
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->

                        <div class="clearfix visible-md visible-lg"></div>

                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post">
                                <a class="post-img" href="blog-post.html">
                                    <img src="{% static 'images/linea6.jpg' %}" alt="">
                                </a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="category.html"></a>

                                    </div>

                                    <h3 class="post-title">
                                        <a href="#" data-toggle="modal" data-target="#miventana6">Ha transportado más de 35 millones de pasajeros: Línea 6 de Metro cumple un año de
                                            operación
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->

                        <!-- post -->
                        <div class="col-md-4">
                            <div class="post">
                                <a class="post-img" href="blog-post.html">
                                    <img src="{% static '/images/nuevosTaxi.jpg' %}" alt="">
                                </a>
                                <div class="post-body">
                                    <div class="post-category">
                                    </div>
                                    <h3 class="post-title">
                                        <a href="#" data-toggle="modal" data-target="#miventana7">Primeros conductores de los taxis eléctricos que ya circulan en Santiago: "La gente
                                            cree que somos policías"</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                    </div>
                    <!-- /row -->

                    <div class="row">
                        <div class="aside-widget col-md-12">
                            <div class="section-title">
                                <h2 class="title">Categorias</h2>
                            </div>
                            <div class="category-widget">
                                <ul>
                                    <li>
                                        <a href="{% url 'trabajo' %}">Trabajo

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'transporte' %}">Transporte

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'educacion' %}">Educación

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'vivienda' %}">Vivienda

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'salud' %}">Salud

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'documentacion' %}">Documentación

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'conocer' %}">Conocer Chile

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- newsletter widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Ingrese su correo y recibira noticias sobre transporte en Santiago</h2>
                        </div>
                        <div class="newsletter-widget">
                            <form>
                                <input class="input" name="newsletter" placeholder="Ingrese su correo">
                                <button class="primary-button">Suscribete</button>
                            </form>
                        </div>
                    </div>
                    <!-- /newsletter widget -->



                    <!-- footer
    ================================================== -->
                    <footer>

                        <div class="row footer-bottom">

                            <div class="col-twelve">
                                <div class="copyright">
                                    <span>© Copyright Glint 2017</span>
                                    <span>Site Template by
                                        <a href="https://www.colorlib.com/">Colorlib</a>
                                    </span>
                                </div>

                                <div class="go-top">
                                    <a class="smoothscroll" title="Subir" href="#top">
                                        <img src="{% static 'images/up.png' %}" alt="">
                                        <i class="icon-arrow-up" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- end footer-bottom -->

                    </footer>
                    <!-- end footer -->


                    <!-- photoswipe background
    ================================================== -->
                    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

                        <div class="pswp__bg"></div>
                        <div class="pswp__scroll-wrap">

                            <div class="pswp__container">
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                            </div>

                            <div class="pswp__ui pswp__ui--hidden">
                                <div class="pswp__top-bar">
                                    <div class="pswp__counter"></div>
                                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                    <button class="pswp__button pswp__button--share" title="Share"></button>
                                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                                    <div class="pswp__preloader">
                                        <div class="pswp__preloader__icn">
                                            <div class="pswp__preloader__cut">
                                                <div class="pswp__preloader__donut"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                    <div class="pswp__share-tooltip"></div>
                                </div>
                                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                                <div class="pswp__caption">
                                    <div class="pswp__caption__center"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- end photoSwipe background -->


                    <!-- preloader
    ================================================== -->
                    <div id="preloader">
                        <div id="loader">
                            <div class="line-scale-pulse-out">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>


                    <!--MODALS-->

                    <!--modal miventana1-->

                    <div class="container" style="margin-top: 60px;">
                        <div class="modal fade" id="miventana1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Mapa recorridos Gran Santiago</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                    </div>
                                    <div class="modal-body zoom">
                                        <img src="{% static 'images/mapaTransantiago.jpg' %}" alt="">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--modal miventana2-->

                    <div class="container" style="margin-top: 60px;">
                        <div class="modal fade" id="miventana2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Recorridos en zonas aisladas de la Región Metropolitana</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                    </div>
                                    <div class="modal-body zoom">
                                        <img src="{% static 'images/recorridosUrbano.PNG' %}" alt="">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--modal miventana3-->

                    <div class="container" style="margin-top: 60px;">
                        <div class="modal fade" id="miventana3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Mapa recorridos Metro de Santiago</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                    </div>
                                    <div class="modal-body zoom">
                                        <img src="{% static 'images/recorridoMetro.jpg' %}" alt="">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--modal miventana4-->

                    <div class="container" style="margin-top: 60px;">
                        <div class="modal fade" id="miventana4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Las máquinas llegarán a Chile en noviembre próximo para sumarse al sistema de transporte
                                            de la capital.</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                    </div>
                                    <div class="modal-body">
                                        <h3>
                                            Cien nuevos buses de Transantiago se sumarán en los próximos meses al sistema de transporte público de la capital, lo que
                                            representará un radical cambio para el actual servicio: las máquinas no tendrán
                                            torniquetes, serán completamente eléctricas y no emitirán gases contaminantes.
                                            <br> Se estima que las modernas micros de origen chino del fabricante ByD llegarán
                                            a Chile en noviembre próximo. Cada unidad tiene un costo de 330 dólares, equivalente
                                            a unos 217 millones de pesos, reemplazarán los más deteriorados buses de Transantiago.
                                            <br> Las máquinas serán de color blanco y rojo, asemejándose a lo que serán los vagones
                                            de Metro, y su forma es la misma que las máquinas verdes que comenzaron a circular
                                            por algunas calles de Santiago en noviembre de 2017.
                                            <br> La compañía eléctrica Enel tendrá al menos 100 puntos de carga desplegados en
                                            la capital, donde los buses acudirán a realizar su carga. En un par de horas
                                            las máquinas podrán llenar sus baterías que le darán una autonomía aproximada
                                            de 250 kilómetros.
                                        </h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--modal miventana5-->

                    <div class="container" style="margin-top: 60px;">
                        <div class="modal fade" id="miventana5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>El trazado de 22 km conectará Quilicura y La Reina con el centro histórico de Santiago</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                    </div>
                                    <div class="modal-body">
                                        <h3>
                                            La construcción de la futura Línea 3 del Metro de Santiago ya se encuentra en su fase final con un 96% de avance.
                                            <br> Así lo constató esta mañana la ministra de Transportes y Telecomunicaciones,
                                            Gloria Hutt, tras realizar una visita a la estación plaza Chacabuco del futuro
                                            trazado.
                                            <br> Junto al Presidente de Metro, Louis de Grange; y el Alcalde de Independencia,
                                            Gonzalo Durán, la secretaria de Estado recorrió una de las 18 estaciones que
                                            forman parte del trazado anunciado por el Presidente Sebastián Piñera hace siete
                                            años atrás, en julio de 2011.
                                            <br> La futura línea tendrá una longitud de 22 kilómetros y unirá Quilicura con La
                                            Reina en cerca de 30 minutos, reduciendo en un 55% los tiempos de traslado entre
                                            ambos puntos. Beneficiará a cerca de 1,1 millones de habitantes de las comunas
                                            de Quilicura, Conchalí, Independencia, Santiago, Ñuñoa y La Reina. Las tres primeras
                                            contarán con Metro por primera vez.
                                        </h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--modal miventana6-->

                    <div class="container" style="margin-top: 60px;">
                        <div class="modal fade" id="miventana6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>La Línea 6 del Metro de Santiago cumple su primer aniversario</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                    </div>
                                    <div class="modal-body">
                                        <h3>
                                            Desde su puesta en servicio ha transportado más de 35 millones de pasajeros, siendo la mayor afluencia mensual la que se
                                            registró en agosto, con 3.710.029 viajes.
                                            <br> La Línea que une Cerrillos con Providencia registra una afluencia promedio de
                                            190 mil pasajeros por día laboral, el 24% de ellos viaja en Hora Punta AM (7:00
                                            a 9:00 hrs) y el 19% en la Hora Punta PM (18:00 a 20:00 hrs).
                                            <br> La estación con mayor afluencia promedio en horario punta AM (en día laboral)
                                            es Lo Valledor, mientras que en la hora punta de la tarde la estación más demanda
                                            es Los Leones.

                                        </h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--modal miventana7-->

                    <div class="container" style="margin-top: 60px;">
                        <div class="modal fade" id="miventana7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-header="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Los conductores de estos vehículos que operan mayormente desde y hacia el aeropuerto
                                            de Santiago</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                    </div>
                                    <div class="modal-body">
                                        <h3>
                                            Los conductores de estos vehículos que operan mayormente desde y hacia el aeropuerto de Santiago destacan la ausencia de
                                            ruido como uno de los beneficios del taxi. También cuentan algunas de las primeras
                                            impresiones que tienen los pasajeros una vez que piden el servicio de uno de
                                            ellos.
                                            <br>
                                            <br> Si uno de los 23 los taxis eléctricos que llevan varias semanas corriendo ya
                                            por Santiago se detiene a recogerlo a usted en alguna fiesta en la casa de sus
                                            amigos, lo más probable es que al verlo llegar los anfitriones bajen el volumen
                                            a la música y de seguro algunos comenzarían a buscar su carné. Y aunque mezclan
                                            los colores blanco con verdes con el objetivo de hacer referencia a la eficiencia
                                            ecológica, no son pocos quienes piensan que estos vehículos son nada más y nada
                                            menos que unidades policiales.
                                            <br>
                                            <br> Así al menos lo contaron algunos conductores a Publimetro. Adjudicados por la
                                            empresa Engie, las primeras unidades comenzaron a operar incluso desde hace tres
                                            semanas atrás. Su operación fue entregada a la compañía Transvip, por lo que
                                            estas unidades realizan mayormente servicio desde y hacia el aeropuerto. Por
                                            eso, muchos turistas o personas de fuera de Santiago que no saben muy bien diferenciar
                                            una patrulla de un vehículo eléctrico, terminan confundidos.
                                        </h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <!-- Java Script
    ================================================== -->
                    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
                    <script src="{% static 'js/bootstrap.js' %}"></script>
                    <script src="{% static 'js/argon.js' %}"></script>
                    <script src="{% static 'js/argon.min.js' %}"></script>
                    <script src="{% static 'js/plugins.js' %}"></script>
                    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>